body{
    background-color: chartreuse;
    color: blue;
}
table{
    font-size: 100px;
    height: 15vh;
    width:15vh;
    align-items: center;
    justify-content: center;
    margin-left: 30vh;
    
}
table,th,td{
    border: 5px solid black;
    border-collapse: collapse;
    
}
th{
    background-color: chocolate;
    color: beige;
}
td{
    background-color: cornflowerblue;
}